<div class="text-center mt-3">
  <h5 class="tag-list-title">ランダムユーザーアイコン</h5>
</div>
<div class="overflow-auto" style="height: 300px">
  <% ClipPost.tags_on(:streamers).order(name: :asc).each do |tag| %>
    <div class="ms-1 mt-3 bg-white">
      <%= link_to get_user_stamp_path(streamer_name: tag.name), class: "no-decoration row shadow-btn", remote: true do %>
        <div class="col-3">
        <% image_record = Image.find_by(name: tag.name) %>
          <% if image_record && image_record.image_url.present? %>
            <%= image_tag image_record.image_url, class: "rounded-circle", size: "50x50" %>
          <% else %>
            <%= image_tag "default.png", class: "rounded_circle", size: "50x50" %>
          <% end %>
        </div>
        <div class="col-9 h2" style="color: <%= image_record.image_color %>;">
          <%= tag %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>