<% set_meta_tags title: "#{@preview_post.title}" %>
<%= render 'shared/title_bar', title: "投稿編集" %>
<div class="container bg-light p-3">
  <!-- プレビュー画面 -->
  <div id="preview_form">
    <%= render 'preview_form.html.erb', preview_post: @preview_post, id: "preview_form" %>
  </div>
  <!-- 投稿フォーム -->
  <div class="container border-dark border-1 border mt-2">
    <div class="text-center h5 mt-2">内容の入力</div>
    <%= form_with(model: @clip_post, local: true) do |form| %>
      <!-- クリップの貼り付け -->
      <div class="mb-2 row mt-4">
        <div class="col-9 pr-0">
          <%= form.text_field :url, id:"clip_url", class: "form-control", placeholder: "クリップのurlを貼ってね", readonly: true, style: "background-color: #f0f0f0;" %>
        </div>
        <div class="col-3">
          <%= form.button "表示", type: "button", id: "preview_button", class: "btn btn-primary" %>
        </div>
      </div>

      <!-- コンテンツタイトルの入力 -->
      <div class="mb-2">
        <%= form.text_area :content_title, id: "content_title", class: "form-control", placeholder: "タイトルを入力してください" %>
      </div>

      <!-- タグの入力 -->
      <div class="mb-2">
        <%= form.text_field :tag_list, value: @clip_post.tag_list.join(','), id: "tag_list", class: "form-control", placeholder: "タグを入力" %>
      </div>

      <!-- プレビューボタン -->
      <div class="mb-3">
        <div class="d-flex justify-content-end">
          <%= form.button "プレビュー", type: "button", id: "clip_preview_button", class: "btn btn-primary" %>
        </div>
      </div>
      <!-- 投稿ボタン -->
      <div class="d-flex justify-content-center mb-3">
        <%= form.button "投稿する", type: "submit", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>