<% set_meta_tags title: "" %>
<%= render 'shared/title_bar', title: "投稿一覧" %>
<div class="bg-light">
  <div class="background-color-lightred">
    <div class="container d-flex justify-content-end my-1">
      <%= link_to 'おすすめ', clip_posts_path(recommend: "true"), class: "buttonOutline font-2" %> 
      <%= link_to '時系列順', clip_posts_path(order: "clip_created_at"), class: "buttonOutline font-2" %>
      <%= link_to '再生数順', clip_posts_path(order: "most_views"), class: "buttonOutline font-2" %>
      <%= link_to '投稿順', clip_posts_path(order: "created_at"), class: "buttonOutline font-2" %>
      
    </div>
  </div>
  <div class="scroll-list jscroll">
    <% @clip_posts.each do |clip_post| %>
      <div class="mb-1 background-color-lightred">
        <%= render 'form', clip_post: clip_post %>
      </div>
    <% end %>
    <%= paginate @clip_posts %>
  </div>
</div>