<%= render 'shared/title_bar', title: "投稿一覧" %>
<div class="bg-light">
<a href="https://id.twitch.tv/oauth2/authorize?client_id=11gshrju07m1wwgyqgpjrir3scixrl&redirect_uri=http://localhost:3000/clip_posts&response_type=token&scope=bits:read">Twitch認証</a>
<div class="container d-flex justify-content-end bg-light">
  <%= link_to '時系列順', clip_posts_path(clip_created_at: "true"), class: "ms-3" %>
  <%= link_to '再生数順', clip_posts_path(most_views: "true"), class: "ms-3" %>
  <%= link_to '投稿順', clip_posts_path(created_at: "true"), class: "ms-3" %>
</div>
<% @clip_posts.each do |clip_post| %>
  <div class="container mb-1 bg-light">
    <%= render 'form.html.erb', clip_post: clip_post %>
  </div>
<% end %>
</div>