<div class="container bg-light p-3 vh-100">

  <!-- メイン画面 -->
  <div class="container border-dark border-1 border">
    <div class="row mb-3 bg-white">
      <div class="col h3 ms-3">
        <%= image_tag @clip_post.streamer_image, class: "rounded-circle me-2", size: "50x50" %>
        <%= @clip_post.streamer %>
      </div>
      <div class="col d-flex justify-content-end align-items-end small">
        <div class="border-bottom border-dark"><%= @clip_post.clip_created_at %></div>
      </div>
    </div>
    <div class="row mb-3 bg-white">
      <div class="text-center mb-2"><%= @clip_post.title %></div>
      <div class="d-flex justify-content-center mb-2">
        <div class="ratio" style="--bs-aspect-ratio: 56.25%;">
          <iframe src="<%= @clip_post.embed_url %>&amp;parent=localhost" allowfullscreen="" loading="lazy" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border: none;"></iframe>
        </div>
      </div>
      <div class="mb-3">
        <%= render 'tag_form.html.erb', clip_post: @clip_post %>
      </div>
      <div class="d-flex justify-content-center">
        <div class="row<%= @clip_post.content_title.blank? ? '' : ' form-control border bg-white' %>" style="width: 98%">
          <%= @clip_post.content_title.presence || '' %>
        </div>
      </div>
    </div>
    <div class="row mb-3 bg-white ps-3 pe-3">
     <%= render 'crud_menus.html.erb', clip_post: @clip_post %>
    </div>
  </div>

  <!-- コメントの投稿フォーム -->
  <div class="container border-dark border-1 border mt-2">
    <div class="text-center h5 mt-3">コメント一覧</div>
    <%= form_with(model: @comment, url: [@clip_post, @comment], local: false) do |form| %>
      <div class="mb-2 row mt-5">
        <div class="mb-3 text-center">
          <div class="d-flex flex-column align-items-center">
            <%= form.text_field :text, id: "comment_new_form", class: "form-control mb-3", placeholder: "コメントを入力してください" %>
            <%= form.submit '投稿する', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
    <!-- コメント一覧 -->
    <div class="mb-5" id="comment_form">
    <%= render 'comment_form.html.erb', comments: @comments %>
    </div>
  </div>
</div>
