<% set_meta_tags title: "#{@clip_post.title}" %>
<div class="bg-light">
  <!-- メイン画面 -->
  <div class="ratio mbs-2" style="--bs-aspect-ratio: 56.25%;">
    <iframe src="<%= @clip_post.embed_url %>&amp;parent=localhost&parent=clipreactor-b7f1a520b2e7.herokuapp.com&parent=www.clipreactor.com" allowfullscreen="" loading="lazy" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border: none;"></iframe>
  </div>
  <div class="container border-dark border-1 border mt-1">
    <div class="text-center font-5 font-size-small"><%= @clip_post.title %></div>
    <div class="col d-flex justify-content-end align-items-end">
      <div class="border-bottom border-dark text-muted font-size-1"><%= Time.parse(@clip_post.clip_created_at).strftime("%m/%d %H:%M:%S") %></div>
    </div>
    <div class="row d-flex mt-2 mbs-2 bg-light">
      <div class="col-auto">
        <%= image_tag @clip_post.streamer_image, class: "rounded-circle me-2", size: "50x50" %>
      </div>
      <h2 class="col-auto font-5">
        <%= @clip_post.streamer %>
      </h2>
    </div>
    <div class="row mbs-2 bg-white">
      <div class="mbs-2">
        <%= render 'tag_form.html.erb', clip_post: @clip_post %>
      </div>
      <div class="d-flex justify-content-center mbs-2">
        <div class="row<%= @clip_post.content_title.blank? ? '' : ' form-control border bg-white' %>" style="width: 98%">
          <%= @clip_post.content_title.presence || '' %>
        </div>
      </div>
    </div>
    <div class="row mbs-2 bg-white ps-3 pe-3">
     <%= render 'crud_menus.html.erb', clip_post: @clip_post %>
    </div>
  </div>

  <!-- コメントの投稿フォーム -->
  <div class="container border-dark border-1 border mt-2">
    <div class="text-center h5 mt-3">コメント一覧</div>
    <%= form_with(model: @comment, url: [@clip_post, @comment], local: false) do |form| %>
      <div class="mb-2 row mt-5">
        <div class="mb-3 text-center">
          <div class="d-flex flex-column align-items-center">
            <%= form.text_field :text, id: "comment_new_form", class: "form-control mb-3", placeholder: "コメントを入力してください" %>
            <%= form.submit '投稿する', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
    <!-- コメント一覧 -->
    <div class="mb-5" id="comment_form">
    <%= render 'comment_form.html.erb', comments: @comments %>
    </div>
  </div>
</div>
