<div class="col-3 hidden-small-screen bg-light">
  <div class="scroll sticky-top d-flex flex-column">
    <%= link_to clip_posts_path, class: "text-center font-title text-info font-3 no-decoration" do %>
      <h3>Clip Reactor</h3>
    <% end %>
  <!-- メニュー -->
    <div class="row bg-light mt-3 p-3">
      <%= link_to clip_posts_path, class: "mt-3 fuller-button purple no-decoration" do %>
        <div class="d-flex align-items-start">
          <div><%= content_tag :i, nil, class: "fa-solid fa-list" %></div>
          <div class="ms-3">クリップ一覧</div>
        </div>
      <% end %>
      <%= link_to likes_clip_posts_path, class: "mt-3 fuller-button purple no-decoration" do %>
        <div class="d-flex align-items-start">
          <div><%= content_tag :i, nil, class: "fa-solid fa-thumbs-up" %></div>
          <div class="ms-3">いいね一覧</div>
        </div>
      <% end %>
      <%= link_to new_clip_post_path, class: "mt-3 fuller-button purple no-decoration" do %>
        <div class="d-flex align-items-start">
          <div><%= content_tag :i, nil, class: "fa-solid fa-pencil" %></div>
          <div class="ms-3">新規作成</div>
        </div>
      <% end %>
    </div>
  
  <!-- 検索フォーム(未実装)
    <div class="row bg-light mt-3 pt-3">
      <%= render 'shared/search_form' %>
    </div>
  -->
  
  <!-- プロフィール欄 -->
    <div class="row mt-auto mx-2">
      <div class="menu-item drop-menu btn-primary btn">
        <div class="d-flex align-items-start ms-3">
          <div><%= content_tag :i, nil, class: "fa-solid fa-user" %></div>
          <div class="ms-3">アカウント作成</div>
        </div>
        <ul class="drop-menu-list">
          <li class="drop-menu-item">
            <%= link_to "新規登録", new_user_path %>
          </li>
          <li class="drop-menu-item">
            <%= link_to "ログイン", login_path %>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="text-muted font-size-1">
          <%= link_to "利用規約", terms_path, class: "text-muted-link me-1" %>
          <%= link_to "プライバシーポリシー", privacy_policy_path, class: "text-muted-link me-1" %>
          <%= link_to "お問い合わせ", contact_path, class: "text-muted-link me-1" %>
        </div>
      </div>
    </div>
  </div>
</div>