<div class="col-3 scroll sticky-top hidden-small-screen">
  <%= link_to clip_posts_path, class: "text-center font-title text-info font-3 no-decoration" do %>
    <h3>Clip Reactor</h3>
  <% end %>
  <div class="row bg-light mt-3 p-2">
    <%= link_to clip_posts_path, class: "mt-3 fuller-button purple no-decoration" do %>
      <div class="d-flex align-items-start">
        <div><%= content_tag :i, nil, class: "fa-solid fa-list" %></div>
        <div class="ms-3">クリップ一覧</div>
      </div>
    <% end %>
    <%= link_to likes_clip_posts_path, class: "mt-3 fuller-button purple no-decoration" do %>
      <div class="d-flex align-items-start">
        <div><%= content_tag :i, nil, class: "fa-solid fa-thumbs-up" %></div>
        <div class="ms-3">いいね一覧</div>
      </div>
    <% end %>
    <%= link_to new_clip_post_path, class: "mt-3 fuller-button purple no-decoration" do %>
      <div class="d-flex align-items-start">
        <div><%= content_tag :i, nil, class: "fa-solid fa-pencil" %></div>
        <div class="ms-3">新規作成</div>
      </div>
    <% end %>
  </div>

<!-- 検索フォーム
  <div class="row bg-light mt-3 pt-3">
    <%= render 'shared/search_form' %>
  </div>
-->

  <!-- タグ一覧 -->
  <div class="row bg-light mt-3 pt-3">
    <%= render 'shared/tag_index' %>
  </div>
</div>