<div class="text-center mt-3">
  <h5 class="tag-list-title">配信者で見つける</h5>
</div>
<% tag_names = ClipPost.tags_on(:streamers).pluck(:name) %>
<% image_records = Image.where(name: tag_names).index_by(&:name) %>

<div class="d-flex flex-wrap flex-column">
  <% ClipPost.tags_on(:streamers).order(name: :asc).each do |tag| %>
    <% image_record = image_records[tag.name] %>
    <div class="flex-item ms-1 mt-3 bg-white">
      <%= link_to clip_posts_path(tag_streamer: tag.name), class: "no-decoration row shadow-btn rounded-3", style: "background: #{image_record&.image_color}10;" do %>
        <div class="col-3">
          <% if image_record && image_record.image_url.present? %>
            <%= image_tag image_record.image_url, class: "rounded-circle", size: "50x50" %>
          <% else %>
            <%= image_tag "default.png", class: "rounded_circle", size: "50x50" %>
          <% end %>
        </div>
        <div class="col-9 h2 font-5 text-muted">
          <%= tag.name %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="text-center mt-3">
  <h5 class="tag-list-title">イベント・その他タグ</h5>
</div>
<div class="d-flex flex-wrap">
  <% ClipPost.tags_on(:tags).order(name: :asc).each do |tag| %>
    <div class="flex-item ms-1">
    <%= link_to clip_posts_path(tag_name: tag.name), class: "no-decoration" do %>
      <p class="tag_wrapper" style="font-size: 12px"><%= tag %></p>
    <% end %>
    </div>
  <% end %>
</div>
