<div class="accordion accordion-flush" id="accordionFlush">
    <div class="accordion-item mt-3">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="tag-title-acordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          配信者で見つける
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush">
        <div class="accordion-body">
          <% ClipPost.tags_on(:streamers).order(name: :asc).each do |streamer| %>
            <% streamer_image = @streamers_image[streamer.name] %>
            <div class="flex-item ms-1 mt-3 bg-white">
              <%= link_to clip_posts_path(tag_streamer: streamer.name), class: "no-decoration row shadow-btn" do %>
                <div class="col-3">
                  <% if streamer && streamer_image&.image_url.present? %>
                    <%= image_tag streamer_image.image_url, class: "rounded-circle", size: "50x50" %>
                  <% else %>
                    <%= image_tag "default.png", class: "rounded_circle", size: "50x50" %>
                  <% end %>
                </div>
                <div class="col-9 h2 font-5" style="color: <%= streamer_image&.image_color %>;">
                  <%= streamer.name %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="tag-title-acordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          ゲームで見つける
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlush">
        <div class="accordion-body d-flex flex-wrap">
          <% @games.each do |game| %>
            <%= link_to clip_posts_path(tag_game: game.name), class: "no-decoration shadow-btn m-3" do %>
              <div class="flex-item">
                <% if game && game.image_url.present? %>
                  <%= image_tag game.image_url, size: "144x192" %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="tag-title-acordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          イベントで見つける
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse show" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlush">
        <div class="accordion-body d-flex flex-wrap">
          <% @tags.each do |tag| %>
            <div class="flex-item ms-1">
            <%= link_to clip_posts_path(tag_name: tag.name), class: "no-decoration" do %>
              <p class="tag_wrapper" style="font-size: 12px"><%= tag %></p>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>