<!DOCTYPE html>
<html>
  <head>
    <title>ShareClip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row mb-24">
      <%= render 'shared/left_sidebar' %>
      <div class="col-6">
        <%= yield %>
      </div>
      <% if logged_in? %>
        <%= render 'shared/right_sidebar' %>
      <% else %>
        <%= render 'shared/before_login_right_sidebar' %>
      <% end %>
    </div>
    <footer>
    <%= render 'shared/footer' %>
    </fotter>
  </body>
</html>
