<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
  </head>

  <body>
    <div class="row vh-100">
      <%= render 'shared/compact_left_sidebar' %>
      <div class="col-10">
        <%= yield %>
      </div>
      <% if logged_in? %>
      <%= render 'shared/compact_right_sidebar' %>
      <% else %>
      <%= render 'shared/compact_before_login_right_sidebar' %>
      <% end %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>